file-xsd/metadata.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 <xs:element name="user">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="name">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="email">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="password">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="remember_token">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_role">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>    
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">
       
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="user_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element> 
 <xs:element name="sim">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="name">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_user">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">
       
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="Sim_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="database">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="name">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_sim">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_user">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">
       
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="Database_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="table">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="name">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_database">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_user">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">
       
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="Table_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="isi_table">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="attribute">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="definisi">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="standard_acuan">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="sinonim">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="kodifikasi">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="jenis_data">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="keterangan">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="jenis_table">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="relasi">
     <xs:simpleType>
      <xs:restriction base="xs:text">
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_table">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_user">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">
       
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="isi_table_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="role">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="name">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">       
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="Role_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
  <xs:element name="download">
    <xs:complexType>
    <xs:sequence>
      <xs:element name="ID">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
        <xs:maxLength value="8"/>
        <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
      </xs:element>
      <xs:element name="name">
      <xs:simpleType>
        <xs:restriction base="xs:varchar">
        <xs:maxLength value="255"/>
        <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
      </xs:element>
      <xs:element name="file">
      <xs:simpleType>
        <xs:restriction base="xs:varchar">
        <xs:maxLength value="255"/>
        <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
      </xs:element>
      <xs:element name="id_table">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
        <xs:maxLength value="8"/>
        <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
      </xs:element>
      <xs:element name="id_user">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
        <xs:maxLength value="8"/>
        <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
      </xs:element>
      <xs:element name="created_at" nillable="true">
      <xs:simpleType>
        <xs:restriction base="xs:timestamp">
        
        <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
      </xs:element>
      <xs:element name="updated_at" nillable="true">
      <xs:simpleType>
        <xs:restriction base="xs:timestamp">     
        <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
      </xs:element>
    </xs:sequence>
    </xs:complexType>
    <xs:key name="download_PrimaryKey_1">
    <xs:selector xpath="."/>
    <xs:field xpath="ID"/>
    </xs:key>
 </xs:element>
 <xs:element name="sim_roles">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="permission">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_sim">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_user">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_role">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">   
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="sim_roles_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="database_roles">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="permission">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_sim">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_database">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_user">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_role">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">   
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="database_roles_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
 <xs:element name="table_roles">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="permission">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_sim">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_database">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_table">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_user">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_role">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">   
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="table_roles_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
</xs:schema>
