file-xsd/meta/isi_table.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="isi_table">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ID">
            <xs:simpleType>
            <xs:restriction base="xs:integer">
            <xs:maxLength value="8"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="attribute">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="definisi">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="standard_acuan">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="sinonim">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="kodifikasi">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="jenis_data">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="keterangan">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="jenis_table">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="relasi">
            <xs:simpleType>
            <xs:restriction base="xs:text">
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="id_table">
            <xs:simpleType>
            <xs:restriction base="xs:integer">
            <xs:maxLength value="8"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="id_user">
            <xs:simpleType>
            <xs:restriction base="xs:integer">
            <xs:maxLength value="8"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="created_at" nillable="true">
            <xs:simpleType>
            <xs:restriction base="xs:timestamp">
            
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="updated_at" nillable="true">
            <xs:simpleType>
            <xs:restriction base="xs:timestamp">     
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:key name="isi_table_PrimaryKey_1">
    <xs:selector xpath="."/>
    <xs:field xpath="ID"/>
    </xs:key>
  </xs:element>
</xs:schema>
