file-xsd/meta/user.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 <xs:element name="user">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="name">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="email">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="password">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="remember_token">
     <xs:simpleType>
      <xs:restriction base="xs:varchar">
       <xs:maxLength value="255"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="id_role">
     <xs:simpleType>
      <xs:restriction base="xs:integer">
       <xs:maxLength value="8"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>    
    <xs:element name="created_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">
       
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="updated_at" nillable="true">
     <xs:simpleType>
      <xs:restriction base="xs:timestamp">     
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="user_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element> 
</xs:schema>
