file-xsd/xsd/TABEL Anak.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="TABEL Anak">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="IBU_ID" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="AYAH_ID" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
    </xs:sequence>
   </xs:complexType>
   <xs:key name="TableAnak_PrimaryKey_1">
    <xs:selector xpath="."/>
    <xs:field xpath="ID"/>
   </xs:key>
 </xs:element>
</xs:schema>