file-xsd/xsd/Tabel PNS_ORANG_ISTRI.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="Tabel PNS_ORANG_ISTRI">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="ORANG_ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="PNS_ORANG_ID">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="32"/>
        <xs:minLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="POSISI" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:decimal">
        <xs:maxLength value="2"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="STATUS" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
     <xs:element name="IS_PNS" nillable="true" minOccurs="0">
      <xs:simpleType>
       <xs:restriction base="xs:string">
        <xs:maxLength value="1"/>
       </xs:restriction>
      </xs:simpleType>
     </xs:element>
    </xs:sequence>
   </xs:complexType>
   <xs:key name="TablePnsOrangIstri_PrimaryKey_1">
    <xs:selector xpath="."/>
    <xs:field xpath="ID"/>
   </xs:key>
 </xs:element>
</xs:schema>