file-xsd/xsd/TABEL RW_RIWAYAT_KEPANITIAAN.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 <xs:element name="TABEL RW_RIWAYAT_KEPANITIAAN">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="ID">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
       <xs:minLength value="1"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="PNS_ORANG_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="32"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="KEDUDUKAN_ORGANISASI_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NAMA" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="100"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TAHUN" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="4"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NO_SK_TIM" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="50"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="TGL_SK_TIM" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:date"/>
     </xs:simpleType>
    </xs:element>
    <xs:element name="JENIS_KEPANITIAAN_ID" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="2"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="BOBOT_KOMPETENSI" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:string">
       <xs:maxLength value="10"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
    <xs:element name="NCSIS_TIME" nillable="true" minOccurs="0">
     <xs:simpleType>
      <xs:restriction base="xs:base64Binary">
       <xs:maxLength value="65535"/>
      </xs:restriction>
     </xs:simpleType>
    </xs:element>
   </xs:sequence>
  </xs:complexType>
  <xs:key name="TableRwRiwayatKepanitiaan_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>

</xs:schema>