file-xsd/xsd/Table RW_HUKUMAN_DISIPLIN.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="TABEL RW_HUKUMAN_DISIPLIN">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="GOLONGAN_ID" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="JENIS_HUKUMAN_ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="PNS_ORANG_ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="SK_NOMOR" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="70"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="SK_TANGGAL" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="HUKUMAN_TANGGAL" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="MASA_TAHUN" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:decimal">
            <xs:maxLength value="2"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="MASA_BULAN" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:decimal">
            <xs:maxLength value="2"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="AKHIR_HUKUM_TANGGAL" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="NOMOR_PP" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:time">
            <xs:maxLength value="6"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  <xs:key name="TableRwHukumanDisiplin_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
</xs:schema>