file-xsd/xsd/Table RW_CLTN.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="TABEL RW_CLTN">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="CLTN_ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="SK_NOMOR" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="SK_TANGGAL" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="TANGGAL_AWAL" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="TANGGAL_AKHIR" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="TANGGAL_AKTIF" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="NOMOR_LETTER_BKN" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="TANGGAL_LETTER_BKN" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="PNS_ORANG_ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:time">
            <xs:maxLength value="6"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  <xs:key name="TableRwCltn_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
</xs:schema>