file-xsd/xsd/Table RW_KURSUS.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (http://www.altova.com) by rafif favian (gunadarma) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="TABEL RW_KURSUS">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="JENIS_KURSUS_ID" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="INSTANSI_ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="PNS_ORANG_ID">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="NAMA_KURSUS" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="60"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="JUMLAH_JAM" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:decimal">
            <xs:maxLength value="4"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="TANGGAL_KURSUS" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="INSTITUSI_PENYELENGGARA" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="JENIS_KURSUS_SERTIPIKAT" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="NOMOR_SERTIPIKAT" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
            <xs:element name="TANGGAL_SELESAI_KURSUS" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:date"/>
            </xs:simpleType>
            </xs:element>
            <xs:element name="NCSISTIME" nillable="true" minOccurs="0">
            <xs:simpleType>
            <xs:restriction base="xs:time">
            <xs:maxLength value="6"/>
            </xs:restriction>
            </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
  <xs:key name="TableRwKursus_PrimaryKey_1">
   <xs:selector xpath="."/>
   <xs:field xpath="ID"/>
  </xs:key>
 </xs:element>
</xs:schema>